.hero {
    padding-top: 70px;
    padding-bottom: 124px;
    background-image: url(../img/hero_bg_img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: var(--bіliy);
    margin-bottom: 28px;
}

.hero_text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    text-align: center;
    color: var(--bіliy);
    margin-bottom: 30px;
}

.hero_btn {
    padding: 22px 56px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: var(--bіliy);
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--korichneviy);
}

.hero_btn_block {
    text-align: center;
}


@media screen and (min-width: 640px) {
    .hero {
        padding-top: 120px;
        padding-bottom: 222px;
        background-image: url(../img/hero_bg_img2.png);
    }

    .hero_title {
        font-size: 56px;
        line-height: 120%;
        margin-bottom: 20px; 
   }

    .hero_text {
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 50px;
    }
}


@media screen and (min-width:1000px) {
    .hero{
        background-image: url(../img/hero_bg_img3.png);
    }
    
    .hero_title{
        max-width: 446px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero_text{
        max-width: 537px;
        margin-left: auto;
        margin-right: auto;
    }
}